header {
  overflow: hidden;
}

.navbar .navbar-brand {
  color: #4592af;
  display: flex;
  align-items: center;
  margin: 5px 0px 20px 10px;
}

.navbar .navbar-brand:hover {
  color: #226089;
}



.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg');
  background-size: cover;
  filter: blur(3px);
}

.search-container {
  max-width: 1000px;
  margin: 30px auto;
  /* padding: 0 15px; */
}

.search-form {
  width: 100%;
}

.search-input-group {
  display: flex;
  width: calc(100% - 0.6);
}

.search-input {
  flex-grow: 1;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-right: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  /* outline: none; */
}

.search-button {
  padding: 10px 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
}

.search-button:hover {
  background-color: #f8f8f8;
}
.card-container{
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* 兩列等寬 */
  grid-gap: 20px;
    /* 卡片之間的間距 */


}
.card-container .row {
  width: 250px;
  /* margin: 10px; */
}

.card-container .text-secondary {
  text-decoration: none;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  height: 180px;
  width: 250px;
}

.card-body {
  padding: 10px;
}

.card-container .card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
  font-size: medium;
  margin: auto;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}
.card-container .badge {
  color: black;
  font-size: small;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
      /* 兩列等寬 */
      grid-gap: 20px;
      /* 卡片之間的間距 */
  }
  .card img {
    height: auto;
  }

}